<%= form_for @video_post, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :content_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :content_id, Content.all, :id, :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :video_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :video_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :length, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :length, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :x_pixels, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :x_pixels, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :y_pixels, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :y_pixels, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                video_posts_path, :class => 'btn' %>
  </div>
<% end %>
