<%= form_for @video_post, :html => { :class => 'form-horizontal' } do |f| %>
 <%= f.fields_for :content do |builder|%>
    <div class="control-group">
      <%= builder.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :title, :class => 'text_field' %>
      </div>
    </div>
  <% end -%>
  <div class="control-group">
    <%= f.label :video_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :video_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :length, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :length, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :x_pixels, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :x_pixels, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :y_pixels, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :y_pixels, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                video_posts_path, :class => 'btn' %>
  </div>
<% end %>
