<%= form_for @content, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :creator_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :creator_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :parent_group_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :parent_group_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_private, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_private, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_created, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :date_created, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_modified, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :date_modified, :class => 'datetime_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contents_path, :class => 'btn' %>
  </div>
<% end %>
