<%= form_for @content, :html => { :class => 'form-horizontal' } do |f| %>
  <% @content.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :creator_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :creator_id, User.all, :id, :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :parent_group_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :parent_group_id, Group.all, :id, :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Private', :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_private, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Create", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contents_path, :class => 'btn' %>
  </div>
<% end %>
