<%- model_class = Content -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:creator_id) %></th>
      <th><%= model_class.human_attribute_name(:parent_group_id) %></th>
      <th><%= model_class.human_attribute_name(:is_private) %></th>
      <th><%= model_class.human_attribute_name(:date_created) %></th>
      <th><%= model_class.human_attribute_name(:date_modified) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= link_to content.title, content_path(content) %></td>
        <td><%= content.creator.name unless content.creator.nil? %></td>
        <td><%= content.group.name unless content.group.nil? %></td>
        <td><%= content.is_private ? "Private" : "Public" %></td>
        <td><%= content.date_created.strftime("%m/%d/%Y at %I:%M%p") unless content.date_created.nil? %></td>
        <td><%= content.date_modified.strftime("%m/%d/%Y at %I:%M%p") unless content.date_modified.nil? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_content_path(content), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      content_path(content),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_content_path,
            :class => 'btn btn-primary' %>
