<%- model_class = Content -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @content.title %></dd>
  <% if @content.parent_group_id %>
    <dt><strong>Group:</strong></dt>
    <dd><%= @content.parent_group_id.to_s + " - " + @content.group.name %></dd>
  <% end %>
  <% if @content.post_as %>
    <dt><strong>Creator Group:</strong></dt>
    <dd><%= @content.post_as.to_s + " - " + @content.creator_group.name %></dd>
  <% end %>
  <dt><strong>Type:</strong></dt>
  <% 
    type = @content.mediable_type.clone
    type.slice! "Post"
  %>
  <dd><%= type %></dd>
  <dt><strong>Privacy:</strong></dt>
  <dd><%= @content.is_private ? "Private" : "Public" %></dd>
  <dt><strong>Creator:</strong></dt>
  <dd><%= @content.creator.name unless @content.creator.nil? %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), posts_path, :class => 'btn'  %>
	
	<% if current_user && @content.can_manage?(current_user) %>
  	<%= link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(@content), :class => 'btn' %>
  	<%= link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(@content), :method => 'delete', :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger' %>
	<% end %>
</div>

