.span5
  .page-header.no-bottom-padding{:style => "margin-bottom: 10px;"}
    %h3.no-bottom-margin 
      = content.title
      %small 
        #{content.is_private ? "Private" : "Public"} #{content.type} &middot; #{content.creator.name} 
  %p 
    %span.text-info= content.mediable.start_date.strftime('%B %-d, %Y')
    at #{content.mediable.start_time.strftime('%l:%M %P')} 
    %span.muted until 
    %span.text-info= content.mediable.end_date.strftime('%B %-d, %Y')
    at #{content.mediable.end_time.strftime('%l:%M %P')}
  
  %blockquote
    %p= content.description


.span3.well{:style => "text-align:center;"}
  = image_tag content.mediable.photo.url(:medium), :class => 'img-rounded'
  %br
  %strong Posted #{time_ago_in_words(content.created_at)} ago
  %br
  %strong Location:
  = content.mediable.location
  %br
  %strong.text-success= content.mediable.is_all_day ? "This is an all day event" : ""
  - if current_user == content.creator
    = link_to "Destory", event_path
    = link_to "Edit", edit_event_path(content.mediable), :class => "btn"
