.page-header
  %h3 
    = content.title
    %small{:style => "display:block;"} 
      #{content.is_private ? "Private" : "Public"} #{content.type} &middot; #{content.creator.name} 
.row-fluid.text-center
  %img.img-polaroid{:src => content.mediable.image_url}
.row-fluid
  %i.icon-share
  %small 
    permalink:    
    #{link_to content.mediable.image_url, content.mediable.image_url }
  %blockquote
    = content.description
- if current_user == content.creator
  = link_to "Destory", image_path, :class => "btn btn-danger"
  = link_to "Edit", edit_image_path(content.mediable), :class => "btn"