.page-header
  %h3 
    = content.title
    %small{:style => "display:block;"} 
      #{content.is_private ? "Private" : "Public"} #{content.type} &middot; #{content.creator.name} 
%blockquote
  = content.mediable.text
  %small content.creator.name
- if current_user == content.creator
  = link_to "Destory", text_path, :class => "btn btn-danger"
  = link_to "Edit", edit_text_path(content.mediable), :class => "btn"

