.page-header
  %h3 
    = content.title
    %small{:style => "display:block;"} 
      #{content.is_private ? "Private" : "Public"} #{content.type.upcase} &middot; #{content.creator.name} 

.row-fluid.text-center
  %img.img-polaroid{:src => content.mediable.image_url, :style => "margin: 10px 0;" }
.row-fluid
  %i.icon-share
  %small 
    permalink:    
    #{link_to content.mediable.url, content.mediable.url }
  %blockquote{:style => "margin: 10px 0;"}
    %p= content.description
  - if current_user == content.creator
    = link_to "Destory", url_path
    = link_to "Edit", edit_url_path(content.mediable), :class => "btn"
