.page-header
  %h3 
    = content.title
    %small{:style => "display:block;"} 
      #{content.is_private ? "Private" : "Public"} #{content.type} &middot;
      - if !content.post_as.nil?
        = content.creator_group.name
      - else
        = content.creator.name

.row-fluid.text-center
  = content.mediable.embed_code.html_safe
.row-fluid
  %i.icon-share
  %small 
    permalink:    
    #{link_to content.mediable.video_url, content.mediable.video_url }
  %blockquote{:style => "margin: 10px 0;"}
    %p= content.description

  = link_to "Edit", edit_video_path(content.mediable), :class => "btn"
