<%= form_for @url_post, :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.fields_for :content do |builder|%>
    <div class="control-group">
      <%= builder.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :title, :class => 'text_field' %>
      </div>
    </div>
  <% end -%>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field', :id => 'urlfield' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                url_posts_path, :class => 'btn' %>
  </div>
<% end %>

<div class="liveurl-loader"></div>
        
        <div class="liveurl">
            <div class="close" title="Close"></div>
            <div class="inner">
                <div class="image"> </div>
                <div class="details">
                    <div class="info">
                        <div class="title edit"> </div>
                        <div class="description edit"> </div> 
                        <div class="url"> </div>
                    </div>

                    <div class="thumbnail">
                        <div class="pictures">
                            <div class="controls">
                                <div class="prev button inactive"></div>
                                <div class="next button inactive"></div>
                                <div class="count">
                                    Showing <span class="current">0</span><span> out of </span><span class="max">0</span> photos
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video"></div>
                </div>

            </div>
        </div>

