<%= form_for @group, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <div class="controls">
      <input type="text" placeholder="Organization Name">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
		<%= f.label :title, :class => 'control-label' %>
    <%= f.text_field :url, :class => 'text_field', :id => 'urlfield', :value => 'Logo URL' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <textarea rows="3" placeholder="Description"></textarea>     
    </div>
  </div>
 <div class="control-group">
  	<%= f.label :title, :class => 'control-label' %>
  	<%= f.text_field :avatar_file_name, :class => 'text_field', :id => 'urlfield', :value => 'Logo URL' %>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), groups_path, :class => 'btn' %>
		
		<% if params[:action] == 'edit' %>
			<%= link_to("Delete", group_path, :method => :delete,
									:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), 
		              :class => 'btn btn-danger' ) %>
		<% end %>
  </div>
<% end %>
