.mobile-post-nav-long
  %ul.auto-nav3.clearfix
    %li= link_to '<i class="icon-pencil"></i>'.html_safe, new_text_path, :class => "btn"
    %li= link_to '<i class="icon-calendar"></i>'.html_safe, new_text_path, :class => "btn"
    %li= link_to '<i class="icon-camera"></i>'.html_safe, new_text_path, :class => "btn"
    %li= link_to '<i class="icon-film"></i>'.html_safe, new_text_path, :class => "btn"
    %li= link_to '<i class="icon-search"></i>'.html_safe, new_text_path, :class => "btn"