<%- model_class = Content -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Creator</th>
      <th>Group</th>
      <th>Public?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= link_to content.title.nil? ? "" : content.title, content_path(content.id) %></td>
        <td><%= content.creator_id %></td>
        <td><% %></td>
        <td><%= content.is_private ? "Private" : "Public" %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_content_path(content), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      content_path(content),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_text_post_path,
            :class => 'btn btn-primary' %>
