<center>
	<div class="btn-group">
		<button class="btn btn-primary"><%= link_to "New Text", new_text_path %></button>
		<button class="btn btn-primary"><%= link_to "New Event", new_event_path %></button>
		<button class="btn btn-primary"> <%= link_to "New URL", new_url_path %></button>
		<button class="btn btn-primary"><%= link_to "New Video", new_video_path %></button>
		<button class="btn btn-primary"><%= link_to "New Image", new_image_path %></button>
	</div>
</center>