= simple_form_for(@event, :url => events_path, :html => {:class => 'form-horizontal'}) do |e| 
  = e.error_notification

  .form-inputs
    = e.simple_fields_for :content do |c|
      = c.input :title
      = c.input :is_private
      - if !current_user.groups.empty?
        %span Post As:
        = c.input :parent_group_id, collection: current_user.groups, label_method: :name, value_method: :id
    = e.input :location
    = e.input :start_date, :input_html => {:class => 'datepicker'} 
    = e.input :start_time
    = e.input :end_date, :input_html => {:class => 'datepicker'} 
    = e.input :end_time
    = e.input :is_all_day
    = e.simple_fields_for :content do |c|
      = c.input :description

  .form-actions
    = e.button :submit, :class => 'btn btn-primary'