<%= form_for @event_post, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.fields_for :content do |builder|%>
    <div class="control-group">
      <%= builder.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_field :title, :class => 'text_field' %>
      </div>
    </div>
  <% end -%>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_datetime, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :start_datetime, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_datetime, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :end_datetime, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_all_day, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_all_day, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                event_posts_path, :class => 'btn' %>
  </div>
<% end %>
