<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title><%= content_for?(:title) ? yield(:title) : "CMUnity" %></title>
          <%= csrf_meta_tags %>
          <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
          <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
          <![endif]-->
          <%= stylesheet_link_tag "application", :media => "all" %>
        </head>
        <body>
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </a>
                <%= link_to "CMUnity", root_path, :class=>'brand' %>
                <div class="nav-collapse collapse navbar-responsive-collapse">
                  <ul class="nav">
                    <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
                    <li class="<%= 'active' if current_page?(posts_path) %>"><%= link_to "Posts", posts_path %></li>
                    <li class="<%= 'active' if current_page?(communities_path) %>"><%= link_to "Communities", communities_path %></li>
                    <% if false #commenting this out for now due to bugs %>
                      <li class="<%= 'active' if current_page?(events_path) %>"><%= link_to "Events", events_path %></li>
                    <% end %>
                  </ul>
                  <form class="navbar-search pull-left" action="">
                    <input type="text" class="search-query span2" placeholder="Search">
                  </form>
                    <% if user_signed_in? %>
                      <%= render :partial => 'shared/account_dropdown' %>
                    <% else %>
                      <%= render :partial => 'shared/signin_dropdown' %>
                    <% end %>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>
            <div class="container">    
              <% if user_signed_in? && params[:controller] != 'home' %>
                <%= render :partial => "shared/desktop_nav" %>
                <%= render :partial => "shared/tablet_nav" %>
                <%= render :partial => "shared/mobile_nav_wide" %>
                <%= render :partial => "shared/mobile_nav_long" %>
              <% end %>
              <% if params[:controller] == "home" %>
                <%= render :partial => 'shared/flash', :locals => { :flash => flash } %>
                <%= yield %>
              <% else %>
                <div class="span9">
                  <%= render :partial => 'shared/flash', :locals => { :flash => flash } %>
                  <%= yield %>
                </div>
              <% end %>
            </br>
            <% if false %>
              <footer>
                <div class="row-fluid">
                  <p>&copy; CMUnity 2012</p>
                </div>
              </footer>
            <% end %>
          </div>
          <!-- /container -->
          <!-- Javascripts
    ================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
          <%= javascript_include_tag "application" %>
        </body>
      </html>
