<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "CMUnity" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

  </head>
  <body>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">CMUnity</a>
          <div class="container-fluid nav-collapse">
            <% if user_signed_in? %>
              <%= link_to 'Logout', destroy_user_session_path, :class => 'btn pull-right', :method => :delete %>
              <span class="signedinas pull-right">Signed in as: <strong><%= current_user.name %></strong></span>
            <% else %>
              <%= link_to 'Sign In', new_user_session_path, :class => 'btn pull-right' %>
              <%= link_to 'Sign Up', new_user_registration_path, :class => 'btn pull-right' %>
            <% end %>

            <ul class="nav">
              <li><%= link_to "Posts", contents_path  %></li>
              <li><%= link_to "Groups", groups_path  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
		  <div class="span3">
			
        <% if user_signed_in? %>
				<div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Post A:</li>
            <li><%= link_to '<i class="cus-calendar-add"></i> An Event'.html_safe, new_event_post_path %></li>
            <li><%= link_to '<i class="cus-image-add"></i> An Image'.html_safe, new_image_post_path %></li>
            <li><%= link_to '<i class="cus-book-add"></i> A Text'.html_safe, new_text_post_path %></li>
            <li><%= link_to '<i class="cus-link-add"></i> A URL'.html_safe, new_url_post_path %></li>
            <li><%= link_to '<i class="cus-film-add"></i> A Video'.html_safe, new_video_post_path %></li>
          </ul>
				</div><!--/.well -->

        <% elsif false %>

					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Development Sidebar</li>
							<li><%= link_to "Contents", contents_path  %></li>
							<li><%= link_to "Event_Posts", event_posts_path  %></li>
							<li><%= link_to "Groups", groups_path  %></li>
							<li><%= link_to "Home", root_path  %></li>
							<li><%= link_to "Image_Posts", image_posts_path  %></li>
							<li><%= link_to "Text_Posts", text_posts_path  %></li>
							<li><%= link_to "URL_Posts", url_posts_path  %></li>
							<li><%= link_to "Users", users_path  %></li>
							<li><%= link_to "User_Groups", user_groups_path  %></li>
							<li><%= link_to "Video_Posts", video_posts_path %></li>
						</ul>
					</div><!--/.well -->

        <% end %>

		</div><!--/span-->
        <div class="span9">
					<% flash.each do |name, msg| %>
					  <% if msg.is_a?(String) %>
					    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
					      <a class="close" data-dismiss="alert">&#215;</a>
					      <%= content_tag :div, msg, :id => "flash_#{name}" %>
					    </div>
					  <% end %>
					<% end %>
					
					<% #being safe %>
					<%= alert %>
					
          <%= yield %>
        </div>
      </div><!--/row-->

  	  </br>
			
			<% if false %>
		
      <footer>
				<div class="row-fluid">
        <p>&copy; CMUnity 2012</p>
				</div>
      </footer>
			
			<% end %>
	
    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
